.not-used-class, /*test comment*/
	.linear { width:130px; height:130px; border:2px solid black; padding: 10px; 
           background:
		    -webkit-gradient(linear, left 50, left 100, from(#00abeb), to(#fff), color-stop(0.5, #fff), color-stop(0.5, #66cc00));
           /*-webkit-background-origin: padding-box; -webkit-background-clip: content-box;*/ }
	
	.radial { width:150px; height:150px; border:2px solid black;
           background: -webkit-gradient(radial, 45 45, 10, 52 50, 30, from(#A7D30C), to(rgba(1,159,98,0)), color-stop(90%, #019F62)),
                       -webkit-gradient(radial, 105 105, 20, 112 120, 50, from(#ff5f98), to(rgba(255,1,136,0)), color-stop(75%, #ff0188)),
                       -webkit-gradient(radial, 95 15, 15, 102 20, 40, from(#00c9ff), to(rgba(0,201,255,0)), color-stop(80%, #00b5e2)),
                       -webkit-gradient(radial, 0 150, 50, 0 140, 90, from(#f4f201), to(rgba(228, 199,0,0)), color-stop(80%, #e4c700)); }
	
	.gradient {
		margin:1em;
	}